#Calculator{
   
    padding: 10px 40px;
    border: 2px solid gray;
    box-shadow: 2px 3px 5px lightgray;
    border-radius: 5px;
}
section.Operators > button{
    padding: 5px 20px;
    text-align: center;
    background-color: rgb(37, 97, 124);
    color: white;
    font-size: 11pt;
    border: none;
    border-radius: 5px;
    margin: 10px;
    margin-right: 0;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}
section.Operators > button:hover{
    background-color: black;
    transform: scale(1.1);
}